<div class="form_bg">
  <form action="">
    <div class="form_add"><h1>Ajout d'une matiere</h1></div>
    <div class="form_input">
      <p><input type="text" name="" id="" placeholder="Entrer le nom de la matiere"></p>
      <p><input type="text" name="" id="" placeholder="Entrer le type de matiere"></p>
      <p><input type="text" name="" id="" placeholder="Entrer le libelle de votre matiere"></p>
      <p><input type="text" name="" id="" placeholder="Entrer le coefficient de la matiere"></p>
    </div>
    <div class="form_btn">
      <button class="btn_submit" type="submit">Ajouter</button>
      <button class="btn_reset" (click)="closeFormSubjet()">Annuler</button>
    </div>
  </form>

</div>
