/* .form_bg{
  width: 100%;
  height: 100%;
  background: #00000062;
  position: absolute;
  top: 0;


}
form .form_add{
  width: 20%;
  height: 80px;
  background-color: skyblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .form_input p input{
  width: 20%;
  height: 1cm;
  border-radius: 5px;
  border: 1px solid black;
} */

/* form .form_btn button{
  min-width: 80px;
  height: 1cm;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: .5s ease-in-out;
  font-size: 1.05em; */
  /* font-family: 'Courier New', Courier, monospacex; */
  /* cursor: pointer; */
/* }
form .form_btn .btn_reset{
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 30px;
} */


