<div class="show_content">
  <button class="btn_add" (click)="showFormSubjet()">Ajouter une matiere</button>
  <app-add-material *ngIf="FormSubjet"></app-add-material>
  <app-update-materiel *ngIf="update"></app-update-materiel>
  <app-delete *ngIf="ForClose" ></app-delete>
  <h1>Liste des Matieres</h1>
  <table class="table table-striped table-striped" id = "dt basic">
    <thead>
      <tr>
        <th> Id</th>
        <th> Firstname</th>
        <th> Lastname</th>
        <th> Phone </th>
        <th> Inviteby </th>
        <th> Update</th>
        <th> Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>DONGMO</td>
        <td>VALENTIN </td>
        <td>678172890</td>
        <td>DEVARI</td>
        <td>
          <button class="btn btn-primary editbtn"> edit</button>
        </td>
        <td>
          <button class="btn btn-danger deletebtn" > delete</button>
        </td>
      </tr>
    </tbody>

    </table>

    <!-- <thead>
      <th>id</th>
      <th>nom</th>
      <th>type</th>
      <th>libelle</th>
      <th>coefficient</th>
      <th>Action</th>
    </thead>
    <div class="line"></div>
    <tbody>
      <tr *ngFor="let subject of subjects">
        <td>{{subject.id}}</td>
        <td>{{subject.nom}}</td>
        <td>{{subject.type}}</td>
        <td>{{subject.libelle}}</td>
        <td>{{subject.coefficient}}</td> -->




</div>



<!-- <table class="show_content" mat-table class="mat-elevation-z8" *ngFor="let user of users">
  <thead>
    <th>id</th>
    <th>UserName</th>
    <th>Email</th>
    <th>Pseudo</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.pseudo}}</td>

      <td><button type="submit">Edit</button><button type="reset">delete</button></td>
    </tr>
  </tbody>
</table> -->


